* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #66eab3, #4b57a2);
  font-family: "Arial", sans-serif;
}

.calculator {
  background: #111;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(158, 142, 51, 0.932);
  width: 310px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 2rem;
  text-align: right;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: #2e2e3e;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

button {
  padding: 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 15px;
  background: #00fbff9f;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 1px #2e2e3e;
}

button:hover {
  background: #55557a;
}
button:active {
  transform: translateY(3px);
  box-shadow: 0 2px #2e2e3e;
}

button.operator {
  background: #8c00ff8e;
}
button.operator:hover {
  background: #ffa733ac;
}

button.equal {
  background: #34c759;
  color: #fff;
  grid-row: span 2;
}
button.equal:hover {
  background: #5cd982;
}

button.zero {
  grid-column: span 2;
}
